In [6]:
import pandas

In [7]:
clientes_v2 = {'nomes':['Ana', 'João', 'Fernando', 'Silva', 'William', 'Beatriz', 'Cássia', 'Maria'],
			'idades':[54, 48, 31, 23, 34, 24, 40, 35],
			'salario':[1220, 5020, 1500, 1890, 7000, 2000, 1220, 1220]}

In [8]:
df = pandas.DataFrame(clientes_v2)

In [11]:
# media de idade
print('A media de idades é de:', df['idades'].mean())

A media de idades é de: 36.125

In [13]:
# media de salario
print('A media de Salarios é de: R$', df['salario'].mean())

A media de Salarios é de: R$ 2633.75

In [47]:
# Qual o mais jovem / velho nome?
print(df, '\n')
mais_jovem = df.sort_values(['idades'], ascending = True)
mais_velho = df.sort_values(['idades'], ascending = False)


print('A mais jovem é', mais_jovem.iloc[0]['nomes'], 
      ' e o mais velho é ', mais_velho.iloc[0]['nomes'])

      nomes  idades  salario
0       Ana      54     1220
1      João      48     5020
2  Fernando      31     1500
3     Silva      23     1890
4   William      34     7000
5   Beatriz      24     2000
6    Cássia      40     1220
7     Maria      35     1220

A mais jovem é Silva  e o mais velho é  Ana

In [50]:
# Quem ganha o maior salario, nome e idade?

maior_salario = df.sort_values(['salario'], ascending = False)
print(maior_salario, '\n')
ganha_mais = maior_salario.iloc[0]
print(ganha_mais['nomes'], ganha_mais['idades'])

      nomes  idades  salario
4   William      34     7000
1      João      48     5020
5   Beatriz      24     2000
3     Silva      23     1890
2  Fernando      31     1500
0       Ana      54     1220
6    Cássia      40     1220
7     Maria      35     1220

William 34

In [51]:
df.to_csv ('cadastro.csv', index = False)